<mat-toolbar color="primary">
   <p> post sharing app</p>
   <span class="spacer"></span>
    <span><a mat-button style="text-align:float-right" routerLink="/"  >My Message</a></span>
    <ul>
        
        <li>
            <a mat-button routerLink="/postcreate" routerLinkActive="mat-accent">New Post</a>
        </li>
        <li>
            <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
        </li>
        <li>
            <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Signup</a>
        </li>
    </ul>
</mat-toolbar>


